<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Account Deleted</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Account Deleted</h4>
</div>
<div class="container">
  <p>Your account has been deleted.</p>
</div>
</body>
</html>
