<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delete Account Link Sent</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Delete Account Link Sent</h4>
</div>
<div class="container">
  A Delete Account link has been sent to your email.
</div>
</body>
</html>
