<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <script>
    function showPasswd() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
</head>
<body>
<div class="container">
  <h4>Register</h4>
</div>
<div class="container">
  {{#if registerDisabled}}
    {{> account/register-disabled}}
  {{else}}
    {{> account/register-form}}
  {{/if}}
</div>
<script src="https://raw.githubusercontent.com/nowsecure/owasp-password-strength-test/master/owasp-password-strength-test.js" defer></script>
<script>
    function validatePassword () {
        let pw = document.getElementById('password').value;
        let owaspCheck = owaspPasswordStrengthTest.test(pw);
        //check for errors and show
        // call pwned api and check
        //submit the form
    }
</script>
</body>
</html>
