<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <form method="post" action="/api/accounts/new">
          {{> shared/error}}

          <div class="form-group">
            <label class="control-label" for="username">Username*</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="alice"
                   required/>
          </div>

          <div class="form-group">
            <label class="control-label" for="password">Password*</label>
            <input type="password" class="form-control" name="password" id="password" required/>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="showPassword"/> Show Password
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Name*</label>
            <input type="text" class="form-control" name="name" id="name" required/>
          </div>

          <div class="form-group">
            <label class="control-label" for="email">Email*</label>
            <input type="email" class="form-control" name="email" id="email"/>
            <span class="help-block">Your email will only used for account recovery</span>
          </div>

          <div class="form-group">
            <label class="control-label" for="externalWebId">External WebID:</label>
            <input type="text" class="form-control" name="externalWebId" id="externalWebId"/>
            <span class="help-block">
                                We will generate a Web ID when you register, but if you already have a Web ID hosted elsewhere that you'd prefer to use to log in, enter it here
                            </span>
          </div>


          <button type="submit" class="btn btn-primary" id="register">Register</button>

          <input type="hidden" name="returnToUrl" value="{{returnToUrl}}"/>
          {{> auth/auth-hidden-fields}}

        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-already-registered">
      <div class="panel-body">
        <h2>Already have an account?</h2>
        <p>
          <a class="btn btn-lg btn-success" href="{{{loginUrl}}}">
            Please Log In
          </a>
        </p>
      </div>
    </div>
  </div>
</div>


<script>
  (function () {
    'use strict'
    var showPasswordToggle = document.getElementById('showPassword')
    var password = document.getElementById('password')
    showPasswordToggle.addEventListener('change', function () {
      password.type = password.type === 'password' ? 'text' : 'password'
    })
  })()
</script>
