<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
</head>
<body>
<div class="container">

  <div class="page-header">
    <h1>Register</h1>
  </div>

  {{#if registerDisabled}}
    {{> account/register-disabled}}
  {{else}}
    {{> account/register-form}}
  {{/if}}
</div>
</body>
</html>
