# Keep this in sync with .gitignore
*.swp
*~
/.idea
/.nyc_output
/.tern-port
/.db
/accounts
/config.json
/config/account-template
/config/email-templates
/config/templates
/config/views
/data
/coverage
/node_modules
/npm-debug.log

# Additional .npmignore entries (not in .gitignore)
/test
/docker-image
