<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Solid User Profile</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h3>Solid User Profile</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="margin-top: 3em; margin-bottom: 3em;">
        Welcome to your Solid user profile.
      </p>
      <p>
        Your Web ID is:<br />

        <code>{{webId}}</code>
      </p>
    </div>
  </div>
</div>
</body>
</html>
