<!doctype html>
<html>
  <head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/common/css/solid.css">
  </head>
<body class="index-page">
  <div class="header">
    <div class="header-left">
      {{#if serverLogo}}
        <img class="logo-img" src="{{serverLogo}}" /> 
      {{/if}}
    </div>
    <div class="header-center">
      <h1 class="title">Welcome to Solid prototype</h1>
    </div>
    <div class="header-right" id="loginStatusArea"></div>
  </div>

  <div class="container" id="prototype">

    <h3 style="display:none" id="loggedIn" class="webId"></h3>

    <div class="content">

      <p class="lead">
        This is a prototype implementation of a Solid server.
        It is a fully functional server, but there are no security or stability guarantees.
        If you have not already done so, please register.
      </p>
    
      <section>
        <h2>Server info</h2>
        <dl>
          <dt>Name</dt>
          <dd>{{serverName}}</dd>
          {{#if serverDescription}}
          <dt>Description</dt>
          <dd>{{serverDescription}}</dd>
          {{/if}}
          <dt>Details</dt>
          <dd>Running on <a href="https://github.com/solid/node-solid-server/releases/tag/v{{serverVersion}}">Node Solid Server {{serverVersion}}</a></dd>
        </dl>
      </section>

    </div> <!-- end content-->

  </div> <!-- end container-->

  <script src="/mashlib.js"></script>
  <script src="/common/js/index-buttons.js"></script>

</body>
</html> 
