<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/server.css">
</head>
<body>
<div class="container">

  <div class="page-header">
    <h1>Change Password</h1>
  </div>

  {{#if validToken}}
    <form method="post" action="/account/password/change">
      {{> shared/error}}
      <div class="form-group">
        <label class="control-label" for="newPassword">New Password:</label>
        <input type="password" class="form-control" name="newPassword"/>
      </div>

      <button type="submit" class="btn btn-primary">Change Password</button>
      <input type="hidden" name="returnToUrl" value="{{{returnToUrl}}}"/>
      <input type="hidden" name="token" value="{{token}}"/>

    </form>
  {{else}}

  <a class="btn btn-primary" href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
    Email password reset link
    </a>

  {{/if}}
</div>
</body>
</html>
