<div class="panel panel-default panel-login-tls">
  <div class="panel-body">
    <form method="post" action="{{tlsUrl}}">
      <button type="submit" class="btn btn-lg btn-primary" id="login-tls">
        Log in with Certificate (WebId-TLS)
      </button>

      {{> auth/auth-hidden-fields}}
    </form>
  </div>
</div>
