<div class="panel panel-default">
  <div class="panel-body">
    <form method="post" action="/login/password">
      <div class="form-group">
        <label class="control-label" for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="alice"/>
      </div>

      <div class="form-group">
        <div class="pull-right">
        <a href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
          Forgot password?
          </a>
        </div>
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password"/>
      </div>

      <button type="submit" class="btn btn-primary" id="login">Log In</button>

      {{> auth/auth-hidden-fields}}
    </form>
  </div>
</div>
