<form id="tls" method="post" action="/login/tls">

{{#unless enablePassword }}
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="alice" />
      </div>
    </div>
  </div>
{{/unless}}
  
  <div class="form-group">

    <button type="submit" class="btn btn-primary" id="login-tls">
      With Certificate (WebId+Delegate-TLS)
    </button>

    {{> auth/auth-hidden-fields}}

  </div>
</form>

<script type="text/javascript">
  const button = document.getElementById('login-tls')
  button.addEventListener('click', function(event) {
    const clientId = document.querySelector('#tls #client_id')
    const scope = document.querySelector('#tls #scope')
    const request = document.querySelector('#tls #request')
    const usernameTls = document.querySelector('#tls #username')
    const usernamePwd = document.querySelector('#login_pwd #username')

    document.querySelector('#error').style.display="none"

    let uid = usernameTls? usernameTls.value: usernamePwd.value

    if (clientId && scope && request 
        && clientId.value.length == 0
        && scope.value.length == 0
        && request.value.length == 0) {

      event.preventDefault()

      if (uid.length === 0) {
         document.querySelector('#error').style.display='block'
         document.querySelector('#error_msg').innerText = 'Username required'
         return
      }

      fetch('/login/tls',
        { method: 'POST', 
          headers: {
            'Accept': 'text/html, text/plain, *.*',
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
          },
          credentials: 'include', 
          body:'username='+uid})
       .then(function(response) {
          if (!response.ok) {
            document.querySelector('#error').style.display="block"
            document.querySelector('#error_msg').innerText = response.statusText
            return
          }
          const webId = response.headers.get('user')
          const idp = new URL(webId).origin
          const session = { authType: 'WebID-TLS', webId, idp }
          const authClientNamespace = 'solid-auth-client'
          let authClientStore
          try {
            authClientStore = JSON.parse(localStorage.getItem(authClientNamespace) || '{}')
          } catch (err) {
            authClientStore = {}
          }
          authClientStore.session = session
          localStorage.setItem(authClientNamespace, JSON.stringify(authClientStore))
 
          // Temporary solution to restore return URL
          // until https://github.com/solid/oidc-auth-manager/issues/17 is resolved
          const returnToUrl = localStorage.getItem('returnToUrl')
          localStorage.removeItem('returnToUrl')
          window.location.href = returnToUrl || '/'
       })
       .catch(function(error) {
         alert(error);
       }) 
    }
  })
</script>
