<form method="post" action="/login/password">
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="alice" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" />
      </div>
    </div>
  </div>

  <div class="form-group">

    <button type="submit" class="btn btn-primary" id="login">Log In</button>

    {{> auth/auth-hidden-fields}}
  </div>
</form>
