<form method="post" action="/login/tls">
  <div class="form-group">

    <button type="submit" class="btn btn-primary" id="login-tls">
      With Certificate (WebId-TLS)
    </button>

    {{> auth/auth-hidden-fields}}
  </div>
</form>
