<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Login</h4>
</div>
<div class="container">
  {{#if error}}
    <div class="row">
      <div class="col-md-12">
        <p class="text-danger"><strong>{{error}}</strong></p>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-5">
      {{> auth/username-password}}
    </div>
    <div class="col-md-1"><br /></div>
    <div class="col-md-6">
      <a href="/login/tls" class="btn btn-primary">With Certificate (WebId-TLS)</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>Don't have an account?
        <a class="btn btn-xs btn-default"
           href="/register{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
          Register
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div>Forgot password?
        <a class="btn btn-xs btn-default"
           href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
          Reset password
        </a>
      </div>
      <div>{{> auth/test}}</div>
    </div>
  </div>
</div>
</body>
</html>
