<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Changed</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Password Changed</h4>
</div>
<div class="container">
  <p>Your password has been changed.</p>

  <p><strong>
    <a class="btn btn-default" href="/login{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
      Log in
    </a>
  </strong></p>
</div>
</body>
</html>
