<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
</head>
<body>
<div class="container">

  <div class="page-header">
    <h1>Reset Password</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <form method="post" action="/account/password/reset">
        {{> shared/error}}

        <div class="form-group">
          {{#if multiuser}}
            <p>Please enter your account name. A password reset link will be
              emailed to the address you provided during account registration.</p>

            <label class="control-label" for="username">Account Name:</label>
            <input type="text" class="form-control" name="username" id="username"
                   placeholder="alice"/>
          {{else}}
            <p>A password reset link will be
              emailed to the address you provided during account registration.</p>
          {{/if}}

        </div>

        <button type="submit" class="btn btn-primary">Send Reset Link</button>
        <input type="hidden" name="returnToUrl" value="{{{returnToUrl}}}"/>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      New to Solid? <a href="/register{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">Create an
      account</a>
    </div>
  </div>

</div>
</body>
</html>
