<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Link Sent</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>Reset Link Sent</h1>
  </div>

  <div class="alert alert-success">
    <p>A Reset Password link has been sent to your email.</p>
  </div>
</div>
</body>
</html>
