<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logged Out</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h3>You have logged out.</h3>
</div>
<div class="container">
  <form method="get" action="/login">
    <button type="submit" class="btn btn-primary"
            id="login">Login Again</button>
  </form>
</div>
</body>
</html>
