<div class="panel panel-default">
  <div class="panel-body">
    <form method="post" action="/login/password" class="form-horizontal login-up-form">
      <div class="form-group">
        <label class="col-xs-3 control-label" for="username">Username</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" for="password">Password</label>
        <div class="col-xs-9">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
          <div class="pull-right">
            <a href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
              Forgot password?
            </a>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" id="login">Log In</button>

      {{> auth/auth-hidden-fields}}
    </form>
  </div>
</div>
